.auth_container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.7); */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.auth_inner {
  width: 500px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 3px 5px 3px #a200ff6c;
}

.auth_title {
  text-align: center;
  padding: 10px 0;
  color: rgba(162, 0, 255, 0.767);
  font-size: 30px;
  margin-bottom: 30px;
}

.auth_block-input {
  margin-bottom: 40px;
}

.auth_label {
  display: block;
  padding-bottom: 5px;
  color: #000;
  font-size: 20px;
}

.auth_input {
  display: block;
  padding: 5px;
  font-size: 20px;
  border-bottom: 1px solid #a200ff8e;
}

.auth_input::placeholder {
  color: #a200ff8e;
}

.auth_input:focus {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.auth_btn {
  padding: 5px;
  color: rgba(162, 0, 255, 0.767);
  font-size: 30px;
  border: 1px solid rgba(162, 0, 255, 0.767);
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.2s ease-in;
}

.auth_btn:hover {
  background-color: rgba(162, 0, 255, 0.767);
  color: #fff;
}

@media screen and (max-width: 550px) {
  .auth_inner {
    width: 300px;
  }
  .auth_title {
    font-size: 24px;
  }
  .auth_btn {
    font-size: 24px;
  }

  .auth_label {
    font-size: 16px;
  }

  .auth_input {
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .auth_inner {
    width: 250px;
  }
  .auth_input {
    width: 100%;
  }
}